
.flex-container{
    width: 100%;
    margin-top: 42px;
    display: inline-block;
    margin-left: 52px;
    font-size: 22pt;
}
.menuburger{
    width: 2%;
    margin-right: 90px;
    float: right;
}
.menuname{
    font-family: serif;
    color: #1e1e1c;
    text-decoration: none;
}
.mainhead{
    text-align: center;
    font-size: 110pt;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    color: #333;
}
.tomcrew{
    text-align: center;
    margin-top: -110px;
    font-family: 'lato', sans-serif;
    font-size:15pt;
    color: black;
}



